@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn, .btn-1 {
  color: #000 !important;
  width: 100px;
  height: 40px;
  margin: 20px !important;
  display: inline-block;
}
.btn {
  background-color: #000 !important;
  color: #DAF7A6 !important;
}
.form-elements {
  display: block !important;
  height: 50px;
}
.input-element {
  padding: 5px 100px 5px 0;
}
h4 {
  text-transform: capitalize;
  color: #F4521A;
  padding: 3vh;
  font-family: 'Poiret One', cursive;
  font-size: 5vh;

}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #afab76;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kakao-icon {
  width: 80px;
  border-radius: 50%;
  border: 2px solid #F4521A;
}
.account-menu {
  display: inline;
  float: right;
}
.menu-item {
  margin: 0 10px;
}
